@import '../../styles/constants.scss';

.search-bar {
  display: flex;
  align-items: center;
  background-color: $primary;
  color: $white;
  border-radius: $size-sm;

  .custom-btn {
    height: $size-xl;
    width: $size-xl;
    padding: 0;
  }

  input {
    font-size: $font-lg;
    padding: 0 $size-sm;
    height: $size-xl;
    max-width: 200px;
    opacity: 1;
    outline-width: 0;
    border: 0;
    background: transparent;
    transition: all linear $transition-mid;
    color: $white;
  }
  input::placeholder {
    color: rgba($white, 0.5);
    pointer-events: none;
  }
  input.hidden {
    padding: 0;
    max-width: 0;
    opacity: 0;
  }
}
